@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
}
h1 {
    font-size: 120px;
    font-family: "Dancing Script", cursive;
}
h2 {
    font-size: 50px;
    font-weight: 400;
}
a, h3 {
    font-family: Roboto Mono, monospace;
    text-decoration: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color:rgb(255, 237, 136);
    padding-top: 2vh;
    z-index: 100;
}
.header a {
    text-align: center;
    text-decoration: none;
    color: rgb(10, 0, 38);
    font-size: 30px;
    padding-left: 2vh;
} 
.head-section {
    background-color:rgb(126, 182, 255);
    align-items: center;
    width: 100%;
    margin-top: 7vh;
    height: 95vh;
    padding: 0;
    flex-wrap: wrap;
    align-items: left;
}
.head-section img {
    height: 95vh;
    z-index: 0;
    padding-top: 0;
    padding:0;
    padding-right: 8vh;
}
.head-section h1 {
    text-align: center;
    color:rgb(255, 223, 106);
    margin-left: 10;
    margin: 0;
    z-index: 2;
    margin-left: 10%;
}
.head-section h4 {
    text-align: center;
    color:rgb(255, 223, 106);
    margin: 0;
    padding-top: 2vh;
    margin-left: 10%;
    font-size: 35px;
    font-weight: 400;
    font-family: Roboto Mono, monospace;
    z-index: 2;
}
.head-section {
    display: flex;
    flex-wrap: wrap;
}
.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-section h1, h4 {
    flex: 1;
}

.donation {
    background-color:rgb(202, 183, 183);
    align-items: center;
    width: 100%;
    height: 95vh;
    padding: 0;
}
.donation img {
    width: 100%;
    height: 95vh;
    z-index: 1;
    padding-top: 0;
    padding:0;
}
.donation h2{
    text-align: left;
    color:rgb(10, 0, 38);
    margin: 0;
    margin-left: 2vh;
    padding-top: 3vh;
}
.donation button {
    display: block;
    margin: 0;
    margin-left: 12.5vh;
    margin-top: 60vh;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(68, 107, 165);
    color: rgb(10, 0, 38);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto Mono, monospace;
    font-size: 30px;
}
.donation button:hover {
    background-color: rgb(21, 54, 102);
}
.leadership {
    background-color:rgb(250, 247, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
    padding-top: 5vh;
}
.leadership h2 {
    text-align: center;
    color:rgb(10, 0, 38);
    padding-top: 5vh;
    padding-bottom: 2vh;
    margin: 0;
}

.leadership h3 {
    font-size: 1rem;
}

.leadership img {
    width: 34vh;
    height: 25vh;
    border-radius: 3px;
    object-fit: cover;
    object-position: 50% 15%;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2vh;
    margin-bottom: 2vh;
}
.card {
    background-color: rgb(228, 226, 201);
    display: flex;
    flex-direction: column;
    width: 35vh;
    height: 38vh;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    flex: 1;
}

.credits {
    width: 100%;
    height: 5vh;
    background-color:rgb(166, 147, 214);
}

.credits  {

}


