@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
}
h1 {
    font-size: 6rem;
    font-family: "Dancing Script", cursive;
}
h2 {
    font-size: 3.125rem;
    font-weight: 400;
}
a, h3 {
    font-family: Roboto Mono, monospace;
    text-decoration: none;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color:rgb(255, 217, 0);
    padding-top: 2vh;
    z-index: 100;
    text-align: right;
    padding-bottom: 2vh;
}
.header a {
    text-decoration: none;
    color: rgb(10, 0, 38);
    font-size: 1.875rem;
    margin-right: 2vh;
} 
.head-section {
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    flex-wrap: wrap;
    align-items: left;
    background-color: rgb(212, 222, 243);
}
.head-section img {
    height: 100vh;
    z-index: 0;
    padding-top: 0;
    padding:0;
    padding-right: 8vh;
}
.head-section h1 {
    text-align: left;
    color:rgb(14, 24, 58);
    margin-left: 6vh;
    z-index: 2;
}
.head-section a {
    text-align: left;
    background-color: white;;
    color:rgb(14, 24, 58);
    font-size: 1.25rem;
    z-index: 2;
    margin-left: 3vh;
    margin-right: 85vh;
    padding: 10px 20px;
    border-radius: 2px;
}
.head-section {
    display: flex;
    flex-wrap: wrap;
}
.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-section h1, h4 {
    flex: 1;
}
.socials {
    height: 100vh;
    margin-left: 3vh;
}
.socials h2 {
    padding-top: 10vh;
}
.socials a {
    font-size: 1.8rem;
    display: grid;
}
.socials img {
    height: 25vh;
    border-radius: 40px;
    margin-top: 5vh;
}


.donation {
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 0;
    padding-top:2vh;
}
.donation img {
    width: 100%;
    height:100vh;
    z-index: 1;
    padding-top: 0;
    padding:0;
}
.donation h2{
    text-align: right;
    color:rgb(10, 0, 38);
    margin: 0;
    margin-left: 2vh;
    padding-top: 3vh;
}
.donation a {
    display: block;
    text-align: right;
    margin-right: 3vh;
    margin-left: 90vh;
    margin-top: 5vh;
    font-size: 1.2rem;
}
.donation button {
    display: block;
    margin: 0;
    margin-left: 50vh;
    margin-top: 30vh;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: rgb(68, 107, 165);
    color: rgb(10, 0, 38);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto Mono, monospace;
    font-size: 1.875rem;
}
.donation button:hover {
    background-color: rgb(63, 140, 255);
}
.leadership {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
    padding-top: 5vh;
}
.leadership h2 {
    text-align: center;
    color:rgb(10, 0, 38);
    padding-top: 5vh;
    padding-bottom: 2vh;
    margin: 0;
}
.leadership img {
    width: 25vh;
    height: 17vh;
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 15%;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2vh;
    margin-bottom: 2vh;
}
.card {
    background-color: rgb(255, 232, 232);
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 60vh;
    height: 18vh;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.card h3, .card p {
    flex: 1;
    text-align: center;
    margin: auto;
}
