body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.header {
    width: 100%;
    height: 5vh;
    background-color:rgb(159, 204, 173);
    padding-top: 2vh;
}
.header a {
    text-align: center;
    text-decoration: none;
    color: rgb(10, 0, 38);
    font-size: 30px;
    padding-left: 2vh;
} 
.head-section {
    background-color:rgb(203, 216, 207);
    align-items: center;
    width: 100%;
    height:75vh;
    padding: 0;
}
.head-section h1 {
    text-align: center;
    color:rgb(10, 0, 38);
    margin: 0;
    padding-top: 25vh;
    margin-left: 65%;
}
.head-section h2 {
    text-align: center;
    color:rgb(10, 0, 38);
    margin: 0;
    padding-top: 5vh;
    margin-left: 65%;
}
.donation {
    background-color:rgb(185, 185, 185);
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 0;
}
.donation h2{
    text-align: left;
    color:rgb(10, 0, 38);
    margin: 0;
    margin-left: 2vh;
    padding-top: 3vh;
}
.donation button {
    display: block;
    margin: 0;
    margin-left: 12.5vh;
    margin-top: 20vh;
    margin-bottom: 2vh;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(159, 204, 173);
    color: rgb(10, 0, 38);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.donation button:hover {
    background-color: rgb(109, 197, 144);
}
.leadership {
    background-color:rgb(222, 226, 230);
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.leadership {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leadership h2 {
    text-align: center;
    color:rgb(10, 0, 38);
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2vh;
}
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 35vh;
    height: 40vh;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    flex: 1;
}